spring.application.name=Vocatio
spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false
server.servlet.context-path=/api

# JDBC por variables de entorno (no hardcodees localhost)
spring.datasource.url=postgresql://postgresadmin:y9NAhpRkaC62uJLatv4E9wrA8OCd3NEj@dpg-d4eic2ogjchc73fht50g-a.oregon-postgres.render.com/vocatio_db_whza
spring.datasource.username=postgresadmin
spring.datasource.password=y9NAhpRkaC62uJLatv4E9wrA8OCd3NEj
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true

# Render define PORT
#server.port=${PORT:8080}

# JWT por ENV tambien, no pongan tildes que convulsiona
jwt.secret=Vm9jYXRpb1N1cGVyU2VjcmV0S2V5Rm9ySldUVG9rZW5HZW5lcmF0aW9uMjAyNCFAIw==
jwt.access-token-ttl=PT15M
jwt.refresh-token-ttl=PT168H
jwt.remember-me-ttl=P30D
#logging.level.org.springframework=DEBUG
management.endpoint.health.show-details=always

deepseek.api-url=https://api.deepseek.com/chat/completions
deepseek.model=deepseek-chat
deepseek.timeout=PT15S
deepseek.max-retries=1
deepseek.api-key=YOUR_DEEPSEEK_API_KEY_HERE

